/*
plava = #274f75
crvena = #c80808
zelena = #82bc0e
sirina = 940px

teget= #1b4264
*/
body {
	margin: 0;
	padding: 0;
}

div {
	/*border: 1px solid red;*/
}

.content {
	width: 940px;
	margin: 0 auto;
	height: 100%;
}

/* HEADER */
#header {
	height: 147px;
	background-color: #274f75;
}

#header h1 {
	margin: 0;
	margin-top: 48px;
	font-size: 64px;
	color: white;
	text-transform: uppercase;
	font-family: Times, serif;
	text-shadow: 2px 2px 0px #102537;
}

#header h2 {
	margin-top: 59px;
	font-family: Arial, sans-serif;
	font-size: 14px;
	color: white;
	opacity: 0.6;
	font-weight: normal;
	text-align: right;
}

#header h2:last-child {
	margin-top: 17px;
}

.hleft {
	width: 75%;
	float: left;
}


.hright {
	width: 25%;
	float: left;
}

/* NAVIGATION */

#navigation {
	height: 37px;
	background-color: #82bc0e;
	border-bottom: 1px solid #c80808;
}

#navigation ul {
	margin: 0;
	padding: 0;
}

#navigation ul li {
	float: left;
	list-style-type: none;
}

#navigation ul li a {
	display: block;
	color: #274f75;
	font-family: Arial, sans-serif;
	font-size: 16px;
	text-decoration: none;
	padding: 10px 28px;
}

#navigation ul li a:hover {
	background-color: white;
	border-bottom: 6px solid #c80808;
}

/* HERO */

#hero {
	/*height: 455px;*/
	height: 595px; /*ovaj broj je moguce razlicit kod vas - to je visina slajfne*/
	background-image: url('../images/bg.png');
	background-repeat: repeat-x;
}

#clouds {
	height: 456px;
	width: 1341px;
	background-image: url('../images/boy.png');
	background-repeat: no-repeat;
	margin: 0 auto;
}


#hero .content h1 {
	width: 400px;
	margin: 0;
	padding-top: 113px;
	font-family: Times, serif;
	font-size: 58px;
	color: #274f75;
	text-shadow: 1px 1px 0 white;

}

#hero .content h2 { 
	width: 383px;
	font-family: Arial, sans-serif;
	color: #274f75;
	font-size: 25px;
	font-weight: normal;
	text-shadow: 1px 1px 0 white;
}

#hero .content h1 span {
	text-transform: uppercase;
}
/* MAIN */

#main {
	height: 691px;
}

#main .content {
	background-color: white;
	height: 691px;
	margin-top: -139px;
	width: 960px;
	background-image: url('../images/main_bg.png');
	background-repeat: no-repeat;

}

#main .mleft {
	float: left;
	width: 66%;
	padding-right: 20px;
	box-sizing: border-box;

}

#main .mright {
	float: left;
	width: 33%;
	box-sizing: border-box;
}

#main .content .inner {
	margin: 0 31px;
}


#main h1 {
	margin-top: 39px;
	color: #3f3f3f;
	font-family: Arial, serif; 
	font-weight: normal;
	font-size: 27px;

}

#main h1 span {

	color: #c80808;
	font-weight: bold;
}

#main h2 {
	margin-top: 20px;
	color: #3f3f3f;
	font-family: Arial, serif; 
	font-weight: normal;
	font-size: 20px;

}

#main h2 span {

	color: #c80808;
	font-weight: bold;
}

#main .left_p, #main .right_p {
	width: 50%;
	box-sizing: border-box;

	float: left;
}

#main .left_p {
	padding-right: 20px;
}


#main img {
	border: 1px solid #c80808;
	padding: 9px;
	float: left;
	margin-right: 22px;
}

#main p {
	color: #3d3d3d;
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	text-align: justify;
}

#main .news div {
	box-sizing: border-box;
	padding: 3px;
	width: 38px;
	height: 38px;
	font-family: Arial, sans-serif;
	color: white;
	text-align: right;
	background-color: #274f75;
	float: left;
	margin-right: 10px;
}

#main .news h2 {

	font-size: 18px;
	color: #274f75;
	font-weight: normal;
}

#main .news p {
	margin-top: 24px;
	clear: both;

	padding-bottom: 20px;
	border-bottom: 1px solid #c6c6c6;
}
/* FOOTER */


#footer {
	height: 108px;
	background-color: #274f75;
	border-top: 1px solid #c80808;
}

#footer .fleft, #footer .fright {
	float: left;
	width: 50%;
}

#footer .fleft div {
	float: left;
	margin-top: 36px;
	margin-right: 16px;
	opacity: 0.7;
}


#footer a:hover div {
	opacity: 1;
}


#fb {
	width: 26px;
	height: 25px;
	background-image: url('../images/fb.png');
}

#tw {
	width: 38px;
	height: 26px;
	background-image: url('../images/tw.png');
}

#yt {
	width: 71px;
	height: 26px;
	background-image: url('../images/yt.png');
}

#footer ul {
	position: absolute;
	margin-top: 36px;
	margin-left: 23px;
	padding: 0;
}

#footer li {
	list-style-type: none;
	float: left;
}

#footer li a {
	font-family: Arial, sans-serif;
	font-size: 12px;
	color: white;
	opacity: 0.6;
	display: block;
	padding: 0 10px;
	border-right: 1px solid white;
	text-decoration: none;
}

#footer li a:hover {
	opacity: 1;
}

#footer li:last-child a {
	border-right: none;
}

.fright p {
	text-align: right;
	font-family: Arial, sans-serif;
	font-size: 12px;
	color: white;
	opacity: 0.6;
	margin-top: 56px;

}




















